extends layout.pug

block HRapp


  div.container
    h1.title #{ employee.name }
    p.description #{ employee.surname }
    p.description #{ employee.dob }
    p.description #{ employee.position }
    p.description #{ employee.about }

    