extends layout.pug

block HRapp

  div.container
    h1.head-text.details-text Detailed information

      div.detail-container

        label Name
        p.description #{ employee.name } 
        label Surname
        p.description #{ employee.surname }
        label DoB
        p.description #{ employee.dob }
        label Position
        p.description #{ employee.position }
        label About
        p.description #{ employee.about }

    